.nav1{
    
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.text:hover{
    cursor: pointer;
    
}
.text{
    text-align: left;
    font-size: small;
    margin-right: 15px;
    color: rgb(40, 23, 114);
}
.N2{
    display: flex;
}
.inp{
    width: 100%;
    border: 1px solid gray;
}
.numinp{
display: flex;
}
.numinp>inp{
    margin-left: 50px;
}
.text1{
    margin:25px 0 0px 10px ;
    text-align: left;
    font-size: 14px;
    
    color: rgb(40, 23, 114);
}