.product{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,max-content));
    gap:33px;  
    padding: 2.5%; 
    width: 95%;
}
.productfont{
    font-family:sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: black;
}
.descfont{
    font-family:cursive;
    font-size: 15px;
    font-weight: 600;
    color: purple;
    border: 0rem solid cadetblue;
    border-top-left-radius:17px ;
    border-bottom-right-radius: 17px;
}

.button{
    border-radius: 14px;
    padding: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    color: black;
    font-weight: 400;
    width: 60%;
}

.button:hover{
    border-radius: 14px;
    padding: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    color: cadetblue;
    font-weight: 400;
    width: 70%;
}

.rupees{
    font-family:cursive;
    font-size: 23px;
    font-weight: 500;
    color: blueviolet;
}
.main{
    display: flex;
    padding: 15px;
    /* flex-direction: column; */
}
.sidebar{
    width:"20%";
    border : 0.5rem double cadetblue;
     height:500px;
     margin-top:30px;
      border-radius:9px ;
      padding:15px;
      /* position:sticky;
       top:30px */
}

@media (min-width:300px) and (max-width:800px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        width:"100%";
        border : 0.5rem double cadetblue;
         /* height:500px; */
         margin-top:30px;
          border-radius:9px ;
          padding:15px;
          /* position:sticky; */
           /* top:30px */
    }
}